body{
   background-color:#1f242a; 
}

.home{
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0,0, 0.2)),
       url('../images/geographic_map.jpeg');
       
    }


.intro{

    color:whitesmoke;
    padding: 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}
    
.name{
      font-size: 50px;
      font-weight: 500;
}


        